{{ form_errors(form) }}

<div class="ui one column stackable grid">
    <div class="column">
        <div class="ui segment">
            {% if form.name is defined %}
                {{ form_row(form.name) }}
            {% endif %}
            {% if form.description is defined %}
                {{ form_row(form.description) }}
            {% endif %}
            {% if form.type is defined %}
                {{ form_row(form.type) }}
            {% endif %}
            {{ form_row(form.price) }}
        </div>
    </div>
</div>
